@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background: url(../images/castelmezzano-19795461.jpg);
}


.head-project {
  width: 1235px;
  height: 97px;
  margin: 0 auto;
}

.left-header {
  padding-top: 51px;
  float: left;
}

.right-header {
  float: right;
  display: flex;
}
.burger-menu {
  display: none;
}
.night-white {
  background: url(../images/sprite-one.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 56px;
  margin-right: 24px;
}
.night-white:hover {
  background: url(../images/sprite-one.png);
  background-position: -30px 0;
  margin-top: 56px;
  margin-right: 24px;
}
.circle-icon {
  background: url(../images/sprite-two.png);
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-top: 51px;
}
.circle-icon:hover {
  background: url(../images/sprite-two.png);
  background-position: -36px 0;
  margin-top: 51px;
}
.collect-info {
  width: 1235px;
  margin: 120px auto 0 auto;
}

.second-title {
  margin-right: 48px;
  margin-top: 57px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.first-title {
  margin-right: 24px;
  margin-top: 57px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.first-title:hover {
  border-bottom: 4px solid #F5BD41;
  
}
.second-title:hover {
  border-bottom: 4px solid #F5BD41;
  
}

.right-header a {
  text-decoration: none;
  color: #ffffff;
}
.main-title {
  width: 1235px;
  margin: 0 auto;
  margin-top: 196px;
  color: #ffffff;
  font-family: 'RobotoL', sans-serif;
  font-size: 50px;
  line-height: 59px;
}
.text-head {
  display: flex;
  margin-top: 100px;
  margin-left: 25px;
  color: #ffffff;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;

  }
.info-hotel {
  margin-left: 221px;
}
.general-info {
  margin-top: 24px;
  display: flex;
}
.forms {
  background-color: #ffffff;
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 8px;
}
.info-post {
  display: flex;
}

.city-name {
  width: 465px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-indent: 24px;
  border: 3px solid #F3F3F4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.city-name:hover {
  border-color: #f5bd41;
  border-radius: 8px;
}

.date-name {
  width: 257px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #F3F3F4;
  border-left: none;
  outline: none;
}

.date-name:hover {
  border-color: #f5bd41;
  border-radius: 8px;
  border-left: 3px solid #f5bd41;
}

.number-people {
  width: 317px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #F3F3F4;
  border-left: none;
  outline: none;
}

.number-people:hover {
  border-color: #f5bd41;
  border-radius: 8px;
  border-left: 3px solid #f5bd41;
  
}
.button-search {
  height: 64px;
  width: 192px;
  background-color: #3077C6;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'RobotoL', sans-serif;
  font-size: 24px;
  line-height: 64px; 
  border: none;
  }
 .button-for-search {
   margin-left: -8px;
 }
 .button-for-search input {
  cursor: pointer;
}
 
.pictures {
  display: flex;
  margin: 121px auto 0 auto;
  width: 270px;
  gap:17px;
  padding-bottom: 120px;
}
.google-play {
  width: 135px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.app-store {
  width: 118px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.mobile-version {
  display: none;
}

