@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background: url(../images/castelmezzano-19795461.jpg);
}


.head-project {
  width: 1235px;
  height: 97px;
  margin: 0 auto;
}

.left-header {
  padding-top: 51px;
  float: left;
}

.right-header {
  float: right;
  display: flex;
}
.burger-menu {
  display: none;
}
.night-white {
  background: url(../images/sprite-one.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 56px;
  margin-right: 24px;
}
.night-white:hover {
  background: url(../images/sprite-one.png);
  background-position: -30px 0;
  margin-top: 56px;
  margin-right: 24px;
}
.circle-icon {
  background: url(../images/sprite-two.png);
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-top: 51px;
}
.circle-icon:hover {
  background: url(../images/sprite-two.png);
  background-position: -36px 0;
  margin-top: 51px;
}
.collect-info {
  width: 1235px;
  margin: 120px auto 0 auto;
}

.second-title {
  margin-right: 48px;
  margin-top: 57px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.first-title {
  margin-right: 24px;
  margin-top: 57px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.first-title:hover {
  border-bottom: 4px solid #F5BD41;
  
}
.second-title:hover {
  border-bottom: 4px solid #F5BD41;
  
}

.right-header a {
  text-decoration: none;
  color: #ffffff;
}
.main-title {
  width: 1235px;
  margin: 0 auto;
  margin-top: 196px;
  color: #ffffff;
  font-family: 'RobotoL', sans-serif;
  font-size: 50px;
  line-height: 59px;
}
.text-head {
  display: flex;
  margin-top: 100px;
  margin-left: 25px;
  color: #ffffff;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;

  }
.info-hotel {
  margin-left: 221px;
}
.general-info {
  margin-top: 24px;
  display: flex;
}
.forms {
  background-color: #ffffff;
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 8px;
}
.info-post {
  display: flex;
}

.city-name {
  width: 465px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-indent: 24px;
  border: 3px solid #F3F3F4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

.city-name:hover {
  border-color: #f5bd41;
  border-radius: 8px;
}

.date-name {
  width: 257px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #F3F3F4;
  border-left: none;
  outline: none;
}

.date-name:hover {
  border-color: #f5bd41;
  border-radius: 8px;
  border-left: 3px solid #f5bd41;
}

.number-people {
  width: 317px;
  height: 64px;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #F3F3F4;
  border-left: none;
  outline: none;
}

.number-people:hover {
  border-color: #f5bd41;
  border-radius: 8px;
  border-left: 3px solid #f5bd41;
  
}
.button-search {
  height: 64px;
  width: 192px;
  background-color: #3077C6;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'RobotoL', sans-serif;
  font-size: 24px;
  line-height: 64px; 
  border: none;
  }
 .button-for-search {
   margin-left: -8px;
 }
 .button-for-search input {
  cursor: pointer;
}
 
.pictures {
  display: flex;
  margin: 121px auto 0 auto;
  width: 270px;
  gap:17px;
  padding-bottom: 120px;
}
.google-play {
  width: 135px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.app-store {
  width: 118px;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.mobile-version {
  display: none;
}
.big-container {
  width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;

}

.title-of-page {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'RobotoL', sans-serif;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.title-line {
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
  border: none;
  margin: 0 auto;
  margin-bottom: 80px;
}

.picture {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.image-icons {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.item-text {
  margin-top: 48px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}
.page-of-guests {
  background: #eaf0f9;
}
.title {
  height: 47px;
  width: 1235px;
  margin: 0 auto;
  font-family: 'RobotoL', sans-serif;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding-top: 120px;
}
.block-pictures {
  width: 1235px;
  margin: 105px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.block-pictures figure {
  width: 296px;
}
.picture-hotel img {
  width: 296px;
  height: 296px;
}
.picture-hotel a {
  padding-top: 24px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color:  #3077C6;
  text-decoration: none;
}
.picture-hotel h4 {
  padding-top: 24px;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #BFBFBF;
  padding-bottom: 121px;
}
.page-title {
  width: 1235px;
  height: 45px;
  margin: 120px auto;
  text-align: center;
  font-family: 'RobotoL', sans-serif;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}
.page-navigation {
  width: 1235px;
  margin: 104px auto;
 
}
.page-navigation::after {
  display: table;
  content: '';
}
.page-navigation input[type=radio] {
  display: none;
}
.page-navigation label {
  width: 192px;
  height: 64px;
  background-color: #F3F3F4;
  text-align: center;
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 64px;
  color: #383838;
  display: inline-block;
  cursor: pointer;
  margin-left: -4px;
  border-top:1px solid #ffffff;
  border-bottom:1px solid #ffffff;
}
.page-navigation label:hover {
  border: 1px solid #3077C6;
  border-radius: 8px;
}

.page-navigation [id^="tab"]:checked + label {
  background: #3077c6;
  color: #ffffff;
  border-radius: 8px;
}
.page-navigation [id^="tab"]:checked + label:hover {
  border: none;
  height: 62px;
}
#tab-region:checked ~ #first-content-1,
#tab-city:checked ~ #first-content-2,
#tab-places:checked ~ #first-content-3
{
  display: flex;
}
#first-content-1 {
  padding-top: 66px;
}
#first-content-2 {
  padding-top: 66px;
 }
#first-content-3 {
  padding-top: 66px;
}
.page-navigation .last-input {
  display: inline-block;
  width: 238px;
}
.different-destinations {
  width: 1235px;
  display: flex;
  gap: 15px;
  display: none;
}

.different-destinations figcaption {
  font-family: 'RobotoN', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #3077C6;
  margin-top: 24px;
}


.low-block {
  width: 1235px;
  height: 200px;
  background-color: #EAF0F9;
  margin: 209px auto;
  display: flex;
  
}

.picture-icon {
text-align: center;
height: 200px;
width: 110px;
display: table;
}
.add-div {
  display:table-cell;
  vertical-align: middle;
}


.button-for-registration {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 21px;
}
.button-for-registration a {
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 48px;
  color: #3077C6;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.low-block p {
  margin-top: 51px;
  font-family: 'RobotoL', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
}
.button-for-book {
  width: 128px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #3077C6;
  display: none;
}
.button-for-book a {
  font-family: 'RobotoN', sans-serif;
  line-height: 48px;
  color: #3077C6;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.page-navigation .last-input-adaptive {
  display: none;
}
.block-title {
  width: 1235px;
  height: 57px;
  margin: 120px auto 0 auto;
  text-align: center;
  font-family: 'RobotoL', sans-serif;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.block-info {
  width: 1235px;
  margin: 104px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.block-info figure {
  width: 400px;
}

.hotel-block {
  width: 400px;
  position: relative;
}

.second-picture {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 48px;
  background: rgba(56, 56, 56, .7);
  text-indent: 24px;
  line-height: 48px;
  font-family: 'RobotoL', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

.information-hotel {
  padding-top: 24px;
  width: 400px;
  height: 360px;
  background-color: #eaf0f9;
}

.hotel-signature {
  float: left;
  line-height: 16px;
}

.hotel-name {
  font-family: 'RobotoL', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #3077C6;
  margin-left: 24px;
  text-decoration: none;
}

.hotel-address {
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #3077C6;
  margin-left: 24px;
}

.hotel-assessment {
  float: right;
}

.value-assess {
  width: 48px;
  height: 32px;
  background-color: #10367C;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  font-family: 'Open SansLat', sans-serif;
  font-size: 18px;
  line-height: 32px;
  float: right;
  margin-right: 24px;
}

.number-reviews {
  margin-top: 8px;
  font-family: 'RobotoN', sans-serif;
  font-size: 14px;
  line-height: 16.4px;
  color: #BFBFBF;
  margin-right: 24px;
}

.clear {
  clear: both;
}

.persons-dates {
  margin-left: 24px;
  margin-top: 29px;
  display: flex;
}

.add-dates {
  margin-left: 21px;
}

.add-dates p {
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  margin-bottom: 8px;
}

.add-dates span {
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #BFBFBF;

}

.feedback {
  margin: 24px 24px 0;
  font-family: 'RobotoN', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

.main-block {
  background-color: #10367C;
  height: 630px;
}

.container {
  width: 1235px;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: row;
  column-gap: 135px;
}

.additional-container {
  width: 1235px;
  margin: 0 auto;
}

.second-list {
  padding-left: 25px;
}

.third-list {
  padding-left: 85px;
}

.list-options {
  margin-top: 120px;
  margin-left: 64px;
}

.list-options li {
  margin-bottom: 24px;
  list-style: none;
}

.list-options li a {
  color: #ffffff;
  font-family: 'RobotoN', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  text-align: left;
  text-decoration: none;
}

.container .list-options .titles a {
  color: #ffffff;
  font-family: 'RobotoL', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  text-align: left;
}

.copyright-text {
  margin-left: 104px;
  margin-top: 64px;
  color: #ffffff;
}

h3 {
  display: none;
}

.footer-adaptive {
  display: none; 
}


.mobile-info {
  display: none;
}