@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.big-container {
  width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;

}

.title-of-page {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.title-line {
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
  border: none;
  margin: 0 auto;
  margin-bottom: 80px;
}

.picture {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.image-icons {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.item-text {
  margin-top: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}
